<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    <add key="IncommunitiesNuGet" value="http://svr-prdlog:8081/nuget" />
  </packageSources>
  <!--<config>
    <add key="http_proxy" value="http://172.16.16.230:9091" />
    <add key="http_proxy.user" value="dev_team" />
    <add key="http_proxy.password" value="kWnOBDqtyHGsJolK" />
  </config>-->
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>