<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="elmah"
         connectionString="server=svr-tstsql;database=ErrorLog;uid=ErrorLogUser;password=dKWu9dvCHaW9ugMcgnwd;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Allocations"
         connectionString="data source=svr-tstsql;initial catalog=Allocations;User ID=AllocationsUser;Password=vdt847gEG2z2H6hWVWs6;multipleactiveresultsets=True;application name=EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="\\svr-das1\Openmoves\Council\Global - HOA\HOADocStore_TEST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Gateway_WebApiUrl" value="https://gatewayapi-test.incommunities.co.uk/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileManager_WebApiUrl" value="https://filemanagerapi-test.incommunities.co.uk/api/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMS_WebApiUrl" value="https://smsapi-test.incommunities.co.uk/api/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CRM_WebApiUrl" value="https://crmapi-test.incommunities.co.uk/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="VBLSMSDirectory" value="\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key ="EmailDirectory" value ="\\svr-tstdoc\\FileAPI - Services\\EmailPickup\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
 
  </appSettings>
  <elmah>
    <security allowRemoteAccess="false" name="RemoteAccessForElmah" xdt:Transform="SetAttributes"
              xdt:Locator="Match(name)" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" name="ElmahLogApplicationName" connectionStringName="elmah"
              applicationName="AllocationAPI_tst" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </elmah>
  <system.web>
    <!--<customErrors xdt:Transform="Remove" />-->
    <customErrors mode="Off" xdt:Transform="InsertIfMissing" />
  </system.web>

</configuration>