<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="elmah"
         connectionString="Data Source=SVR-PRDSQL01;Initial Catalog=ErrorLog;User ID=ErrorLogUser;Password=RkxWm8jq_Yxq0qFZsp5M5E"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Allocations"
         connectionString="data source=SVR-PRDSQL01;initial catalog=Allocations;User ID=AllocationsUser;Password=OJsgMBNRl7ClgeE2_Jc1KC;multipleactiveresultsets=True;application name=EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="\\svr-das1\Openmoves\Council\Global - HOA\HOADocStore" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Gateway_WebApiUrl" value="https://gatewayapi.incommunities.co.uk/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileManager_WebApiUrl" value="https://filemanagerapi.incommunities.co.uk/api/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMS_WebApiUrl" value="https://smsapi.incommunities.co.uk/api/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CRM_WebApiUrl" value="https://crmapi.incommunities.co.uk/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="VBLSMSDirectory" value="\Unsent\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key ="EmailDirectory" value ="\\SVR-PRDDOC\\Services\\EmailPickup" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <elmah>
    <security allowRemoteAccess="false" name="RemoteAccessForElmah" xdt:Transform="SetAttributes"
              xdt:Locator="Match(name)" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" name="ElmahLogApplicationName" connectionStringName="elmah"
              applicationName="AllocationsAPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </elmah>


</configuration>