<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="elmah"
         connectionString="server=sql;database=ErrorLog;uid=ElmahErrorLogUser;password=77VUQK3tvCXkenHKQ1YZ;" />
    <add name="Allocations"
         connectionString="data source=sql;initial catalog=Allocations;User ID=WebUser;Password=W3bU5er3Mc2_34E@;multipleactiveresultsets=True;application name=EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="\\svr-das1\Openmoves\Council\Global - HOA\HOADocStore" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="VBLSMSDirectory" value="\\svr-das1\Openmoves\SMS\Live\VBL\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <elmah>
    <security allowRemoteAccess="false" name="RemoteAccessForElmah" xdt:Transform="SetAttributes"
              xdt:Locator="Match(name)" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" name="ElmahLogApplicationName" connectionStringName="elmah"
              applicationName="HRSWebAPI_Live" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </elmah>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
 
  </system.web>
 
</configuration>