  UPDATE [Allocations].[dbo].[VBLContactByDetails] SET ContactValue = '07519897077' WHERE contactbyId = 3
  UPDATE [Allocations].[dbo].[VBLContactByDetails] SET ContactValue = '01234567890' WHERE contactbyId = 1
  UPDATE [Allocations].[dbo].[VBLContactByDetails] SET ContactValue = 'paul.firth@incommunities.co.uk' WHERE contactbyId = 4